:root {
    --primary-text-color: rdba(0, 0, 0, 0.8);
    --text-color: #434455;
    --title-text-color: #2E2F42; 
    --accent-text-color: #4D5AE5;
    --white-title-text-color:#F4F4FD;
    --white-text-color: #E7E9FC;
    --primary-white-color: #ffff;
    --background-color: #E5E5E5;
    --dark-background-color: #2E2F42;
    --primary-font-family: Roboto;
    --secondary-font-family: Raleway;
    --header1-font-weight: 56px; 
    --text-font-weight: 400px;
    /* --main-text-weight: 56px; */
}

* {
    margin: 0;
    padding: 0;
  }

.body-container.main {
  /* width: 1440px; 
  height: 2590px; */
  width: 100%; 
  height: 100%;  
}  


 header {
    background-color: var(--primary-white-color);
    border-top-color: var(--white-text-color);
    width: 1440px;
    height: 72px;
    align-items: center;
    display: flex;

 }  

.page-nav {
    height: 72px;
    width: 720px;
    display:flex;
}

a.logo {
    align-self: center;
    padding-left: 156px; 
    font-family: var(--secondary-font-family);
    font-size: 18px;
    letter-spacing: 3%;
    text-align: 0;
    text-decoration: none;
}
.menu-nav {
    width: 261px;
    justify-content:space-between;
    margin-left: 100px;
    text-decoration: none;
    align-self: center;
}
 
 main {
    background-color: var(--primary-white-color);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
 }

 section.hero-img {
    background-color: var(--dark-background-color);
    width: 1440px;
    height: 600px;
 }

 .hero-img h1 {
    color: var(--white-text-color);
    font-size: var(--header1-font-weight);
    width: 490px;
    height: 120px;
    padding-left: 472px;
    padding-right: 472px;
    padding-top: 188px;
    padding-bottom: 40px;
 }

.hero-img .order-button {
    background-color: var(--accent-text-color);
    color: var(--primary-white-color);
    width: 169px;
    height: 56px;
    padding: 16px 32px 16px 32px;
    margin-bottom: 188px;
    margin-right: 636px;
    margin-left: 635px;
    grid-auto-flow: column;
}
/* прибирає крапки у списків */
.list {
    list-style: none;
}

/* прибирає підкреслення */
.link {
    text-decoration: none;
    color: var(--title-text-color);
    font-size: 16px;
}
 

.accentcolor {
    color: var(--accent-text-color);
}

.whitecolor {
    color: var(--white-title-text-color);
}

.container-wrapper {
    display: flex;
}

.container-wrapper.features {
    margin-left: 156px;
    margin-right: 156px;
    margin-top: 120px;
    margin-bottom: 120px;
    width: 1128px;
    height: 104px;
}


.contacts {
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    text-decoration: none;
    padding-left: 250px;
    color: var(--primary-font-family);

}

.section {
    text-align: center;
    
}

.filters-container {
    margin-top: 89px;
    margin-bottom: 72px;
}

.filters {
   height: 48px; 

}

footer {
    background-color: var(--dark-background-color);
    width: 1440px;
    height: 310px;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
 } 

.footer-content {
    margin-top: 16px;
    color: var(--white-text-color);
    font-weight: 400px;
    width: 264px;
    height: 72px;
    padding-left: 156px;
}